<!DOCTYPE html>
<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/elevation/json?locations=address=AIzaSyAz3A_DBt1QVqLnQD1rb3C8jH0W9F2URck"    ></script>
    <script>
        function initialize() {
        var address = 'Kolkata';
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({
            'address': address
            }, function(results, status) {
                var lat=document.getElementById("lat").innerHTML=results[0].geometry.location.lat();
                var lng=document.getElementById("lng").innerHTML=results[0].geometry.location.lng();
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <p id="lat"></p>
    <p id="lng"></p>
</body>
</html>
